$color-dark : rgb(46, 51, 34);
$color-pink: rgb(209, 177, 174);
$color-brown: rgb(118, 118, 75);
$color-green: rgb(133, 162, 99);
$color-blue: rgb(140, 148, 172);
$cd-txt: #6300a0;
$cd-txt--invalid: #fff;
$cd-danger: #b20a37;
$cd-btn-start: rgba(1, 28, 55, 0);
$cd-btn-end: rgba(1, 28, 55, 1);